.card {
    background-color: black;
    padding: 10px;
}

.card-item {
    color: white;
}

.card-item td {
    padding: 5px;
}

table {
    border-collapse: collapse;
}

.card-item td:first-child {
    border-right: 1px solid white;
}
